/* ######## HTML/body Layout */
/* html,body {
	
} */
/* ######## Carousel variables */
:root {
	--crsl-height: 60vh;
	--crsl-width: 100vw;
	--crsl-img-mx: 49vw;
}

/* ######## Carousel */
.crslctn {
    margin: 0;
	width: 100vw;
	height: 100%;
	overflow-x: hidden;
	width: var(--crsl-width);
	height: var(--crsl-height);
	display: flex;
	align-items: center;
	position: relative;
}
.crslallimgctn {
	width: var(--crsl-width);
	height: var(--crsl-height);
	display: flex;
	align-items: center;
	position: relative;
	transition: all 1s ease-in-out;
}
.crslimgctn {
	height: 1px;
	width: 0px;
	margin-right: var(--crsl-img-mx);
	display: flex;
	justify-content: center;
	align-items: center;
}
.crslimg {
	width: 40vw;
	height: var(--crsl-height);
	object-fit: contain;
	transition: all 1s ease-in-out;
}
.crslcontrols {
	position: absolute;
	width: 100vw;
	display: flex;
	justify-content: space-between;
}
.crslprev {
	margin-left: 30px;
  cursor: pointer;
}
.crslnext {
	margin-right: 30px;
  cursor: pointer;
}

.LiveVideoText{
    margin: 20px 80px;
    color: grey;
    padding: 35px;
}